.flex-around {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 374px);
}

#sidebar {
    width: 20%;
}

#main {
    width: 80%;
    padding: 30px;
}

.display-none {
    display: none;
}
.width-100 {
    width: 100%;
}